*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 10px 20px;
}
@media(min-width:375px) and (max-width:768px){
    header{
        margin: 0 0 40px;
    }
    .menu{
        display: none;
    }
    .logo{
        margin-top: 20px;
        font-size: 25px;
        font-weight: bold;
        color: #36b37f;
    }
    .hambuger{
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 5px;
    flex-direction: column;
    }
    .hambuger p{
        padding: 1px 15px;
        color: black;
        border: 1px solid black;
    }
    .home{
        background-image: url(./assets/images/background.png);
        background-size: cover;
        background-position: center;
    }
    .intr{
        padding: 10px 20px;
    }
    .intro h1{
        font-size: 40px;
        font-weight: bold;
        color: #172b4d;
        text-align: center;
    }
    .intro h1 span{
        color: #36b37f;
    }
    .home_paragraph{
        margin: 25px 2px 0px 2px;
        
    }
    .home_paragraph{
font-size: 23px;
text-align: center;
color: #344563;
    }
    .social_links{
        margin-top: 20px;
    }
    .social_links ul{
       display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        list-style: none;
    }
    .scroll{
        margin: 10px o;
display: flex;
justify-content: center;
align-items: center;
    }
    /* styling of project section*/
    .projects{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .project_title h2{
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        margin: 10px 55PX;
    }
    .project_title p{
        padding: 0px 5px;
        border: 1px solid #36b37f ;
        color: #36b37f;
        margin: 0 155px;
    }
    .cards{
        display: flex;
        gap: 15px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .card{
        border: 2px solid #EBF0EE;
        width: 325px;
        max-width: 325px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
    }
    .card img{
        padding: 110px 125px;
        background-color: #EBF0EE;
        border-radius: 6px;
    }
    .card_title h3{
        font-size: 30px ;
        font-weight: bold;
        text-align: center;
        margin: 10px 25px;
        color: #3a4a3a;
    }
    .card_list ul{
        display: flex;
        justify-content: center;
        list-style: none;
        gap: 5px;
        max-width: 325px;
        width: 323px;
    }
    .card_list ul li{
        padding: 5PX 9PX;
        background-color: #EBF0EE;
        text-wrap: nowrap;
        border-radius: 5px;
    }
    .card_button{
        margin: 20px 10px;
    }
    .card_button button{
        padding: 10px 20px;
        background-color: #36b37f;
        border: none;
        color: #fff;
        font-weight: bold;


    }
    .about{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        
    }
    .abt_text{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        flex-direction: column;
        margin-top: 25px;
        background-image: url(./assets/images/substitute.jpg) ,url(./assets/images/mask_group.png);
        background-repeat: no-repeat;
        background-position: left bottom, top right;
        background-size: 100px auto,80px;
        padding: 30px 10px;
    }
    .abt_text_title{
        font-size: 25px;
        color: #172b4d;
        font-weight: bold;
        text-align: center;
    }
    .abt_text_para{
        font-size: 25px;
        text-align: center;
        margin: 1px 10px;
    }
    .abt_text_button button{
        background-color: #36b37f;
        color: #fff;
        padding: 5px 10px;
        border: none;
        font-size: 20px;
        margin-top: 10px;
        border-radius: 3px;
    }
    .abt_cards{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-direction: column;
        margin: 25px 10px;
    }
    .abt_card{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: 2px solid #EBF0EE;
        border-radius: 10px;
        padding: 40px 20px;
        width: 330px;
        max-width: 330px;
    }
    .abt_card_icon{
        width: 130px;
        height: 130px;
        border-radius: 6px;
    }

    .abt_card_title{
        font-size: 25px;
        font-weight: bold;
        align-items: center;
        gap: 5px;
        list-style: none;
    
    }
    .abt_card_title{
        font-size: 25px;
        font-weight: bold;
        color: #3a4a42;
        margin-bottom: 15px;
    }
    .abt_card_list ul{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        list-style: none;
        width: 330px;
        flex-wrap: wrap;
    }
    .abt_card_list ul li{
        padding: 5px 10px;
        background-color: #fff;
        border-radius:5px;
        text-wrap: nowrap;
        color: #36b37f;
    }
    .abt_paragraph{
        font-size: 45px;
        font-weight: bold;
        color: #344563;
        margin: 10px 20px;
        text-align: center;
    }
    form{
        justify-content: center;
        display: flex;
        align-items: center;
        gap: 15px;
        flex-direction: column;
    }
    form input{
        padding: 15px 15px;
        width: 330;
        border: 2px solid #fff;
        border-radius: 4px;
    }
    form input::placeholder{
        font-size: 20px;
        color: #9099a8;
    }
    textarea{
        width: 330px;
        padding: 50px 15px;
        border-radius: 7px;
        border: 1px solid #36b37f;
    }
     textarea::placeholder{
        font: 17px;
        color: #344563;

    }
    .form_button{
        padding: 5px 10px;
        background-color: #36b37f;
        color: #fff;
        border: none;
        border-radius: 4px;
        margin-top: 10px;
        font-size: 20px;
    }
    footer{
        display: flex;
        justify-content: center;
        text-align: center;
        gap: 5px;
        flex-direction: column;
        font-size: 22px;
        align-items: center;
        margin: 20px 5px 10px 5px;
        color: #172b4d;
        font-weight: bold;
    }
}
